@import url('https://use.typekit.net/idx0ebo.css');

:root{
  --color-blue_1: hsl(200, 100%, 48%);
  --color-blue_2: hsl(200, 100%, 72%);
  --color-blue_3: hsl(200, 100%, 88%);
  --color-blue_4: hsl(200, 100%, 96%);

  --color-pink_1:hsla(330, 100%, 56%, 1);

  --color-text_1: hsl(200, 16%, 24%);
  --color-text_2: hsl(200, 16%, 56%);

  --color-black_0:hsl(200, 24%, 4%);
  --color-black_1:hsl(200, 16%, 8%);
  --color-black_2:hsl(200, 16%, 24%);
  --color-black_3:hsl(200, 16%, 56%);
  --color-black_4:hsl(200, 16%, 72%);
  --color-black_5:hsl(200, 16%, 88%);
  --color-black_6:hsl(200, 16%, 96%);

  --font-headline: "rift";
  --font-body: "lft-etica";
}

body {
  font-family: var(--font-body);
  font-size:20px;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: var(--color-text_1);
  margin:0;
  padding:0;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  color:hsl(200, 16%, 8%);
  font-weight:500;
}

h1 {
  font-size:2rem;
  line-height: 3rem;
  font-weight:600;
  margin: 4rem 0;
  max-width: 32rem;
  color: var(--color-text_1);
}

h1:after {
  content:"";
  width:4rem;
  height:0.25rem;
  display: block;
  margin-top:2rem;
  background:var(--color-black_2);
}

h2 {
  font-size:2rem;
  line-height: 2.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

h3 {
  font-size:24px;
  line-height: 32px;
}

p {
  max-width:46rem;
}

.lead {
  font-size:1.75rem;
  line-height: 2.5rem;
  font-weight: 300;
}

p + h3 {
  margin-top:3rem;
}

h3 + p {
  margin-top:1rem;
}

p + p {
  margin-top:1rem;
}


a {
  color:var(--color-black_1);
  text-decoration-skip: ink;
  text-decoration-color: var(--color-black_4);
  font-weight: 500;
}

.container-small {
  max-width: 52rem;
  margin: 0 auto;
}

.homepage {
  background:black;
}

img {
  max-width: 100%;
}

.about_section {
  max-width:80rem;
}

.about_section-content {
  padding:1.5rem;
  background:white;
  transform:translate(8rem, -8rem);
}

.about_section img {
  margin:0;
}

.workHeader {
  margin-bottom: 4rem;
  display: grid;

  grid-template-rows:1fr 1fr;
  grid-gap: 1rem;
}

.workHeader.next img {
  background: hsla(35, 92%, 92%, 1);
  padding:0.5rem;
}

.workHeader h2 {
  font-size:3.5rem;
  line-height: 4rem;
  margin:0;
}

.workHeader h3 {
  font-weight:400;
  font-size:1.25rem;
  line-height: 2rem;
  grid-column-start: 1;
  grid-column-end: 2;
}

.workExample {
  display:grid;
  grid-gap:4rem;
  grid-template-columns: 1fr 14rem;
}

.workExample ul {
  list-style: none;
  margin:0;
  padding:0;
  font-size:1rem;
  line-height: 1.5rem;
}

.workExample ul li img {
  width: 5rem;
}

.workExample ul li + li {
  margin-top:1rem;
}

.workExample .mainContent > * {
  margin:0 auto;
}

.workExample .mainContent section {
  max-width:46rem;
}

.workExample .mainContent section + section, .workExample .mainContent section + figure {
  margin-top:2rem;
}

figure.image-hasCaption {
  display: grid;
  grid-template-columns: 1fr 10rem;
}

figure figcaption {
  font-size:1rem;
  line-height: 1.5rem;
}

.workExample .mainContent > .gatsby-image-wrapper {
  margin-bottom: 2rem;
}

@media screen and (max-width: 575px) {
  h1 {
    margin-bottom:2rem;
    font-size:2rem;
    line-height: 2.5rem;
  }
}

@media screen and (max-width: 720px) {
  .about_section-content {
    transform: translate(0, 0);
    padding:0;
  }
}

@media screen and (max-width: 1008px) {
  .about_section p {
    max-width:32rem;
  }
}

@media screen and (max-width: 480px) {


  .about_section-content {
    order:2;
  }
  .about_section img {

    order:1;
  }
}
