.homepage {

  padding:2rem;
  padding-top:8rem;
  background:black;
  margin-bottom: -8rem;
}

.homepage + .homepage {
  background: white;
  padding-top:16rem;
}

.homepage h1 {
  color:white;
}

.homepage nav[class*="nav"] ul li a[class*="active"] {
  color:white;

}

.homepage h2 {
  color:white;
  margin-bottom:2rem;
}

.homepage + .homepage h2 {
  color: var(--text_1);
}

.homepage + .homepage p {
  color: var(--text_2);
}


@media screen and (max-width: 575px) {
  .homepage {
    padding:0rem;
  }
}
