.work {
  list-style:none;
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}


.work a {
  background-color:var(--color-black_0);
  display: grid;
  grid-template-columns: 6.5rem 1fr 10rem;
  position: relative;
  transition:all ease-in-out 200ms;
  text-decoration: none;
  padding:3rem;
}


.work a:hover,.work a:focus {
  background:var(--color-black_1);


  outline:0;
}

.work a:hover .WorkItemImage:after, .work a:focus .WorkItemImage:after {
  opacity:0;
}

.WorkItemImage {
  width:100%;
  height: 16rem;
  display:block;
  position:relative;
}

.WorkItemImage:after {
  content:"";
  position:absolute;
  left:0;
  right:0;
  top:0;
  bottom:0;
  z-index: 1;
  background-color:var(--color-black_6);
  mix-blend-mode: color;
  transition:all ease-in-out 200ms;
}

.work a:first-of-type .WorkItemImage {
  background-image: url('https://uc329c288a530ecf4f2f2189d06d.previews.dropboxusercontent.com/p/thumb/AAw-Ya9JSp3isj2jkiODecECtS6ix6dYZl-jGp0-F7EeFySgHyuljmg6ircP_WbC_-FHFiPegjSlrtyPl8jp-EzCyTwXp6YJTuTbKVsO2oOK-Ht9ZE6ikrCB6NgZdRAWyAOC603Zm6IGfO6OwCH6qaqpC8lOQ71wT8ZbNtsAmqts-wIAqcMtGYxlI7emUy-LGXRzBr14e4XCHKmnZCtsnPBT1B95qs7_tO70rwPyrJEcVEY3ixAuRX9oczR6-sYPDv43wA44ZSJK_3FSXv6-jhZOFPV1qYuCzftuYOipGqRSl6aUheg7umY2gRex5F9ZR9p6QKzWPkFhYPlISPZhc2vDhOB55Bncxc3b_vj3va9nP17JT1os0vp3Jtuo8dy3lsvghYtRZQ5rMyLXQ0s4_2vA/p.png');
  background-size: cover;
  background-color:#F69C20;
}

.work a:nth-of-type(2) .WorkItemImage {
  background-image: url('https://uc78e5e291fc2867e56dd833ab80.previews.dropboxusercontent.com/p/thumb/AAwDo9jwRhLmtjJuVSCwMi-sz93CCYGbjsaP-_x2D-zJjrUPA8gcoCW1qDbsk7L8Sip6JfmvGWVwvYTD37L9YBCEJrM26Ja3UY_0jkQTbTTxBWnv5wlWC7QVX5jKsxgI74rb2syGD6D62rxFUZCAPzrskqbCaPBXTLEcycxjlM_RKzo9nWknqq2tKn-Lq-uv0LY72h-6vUVvGjQOPuTaV0zn69MJpMMo6aHB9e3Hfwm0--liWQbIPlKdjeOcv0n6wIbEV6wenvmUbeaakHiGrzJCbeNOZKQJ83G9D6I1fJJzZ7S6PNxFu_C0jwzIruxiScexDw5FCKQJHpwGDJLf7ex_hmPG1XanvWEn4oLSFfPaXMPkEZWmyNR_ljZMseYsLPuoP0C1QuqyHltgywoh7byJ/p.png');
  background-size: cover;
  background-color:#00cdbe;
}

.work a:nth-of-type(3) .WorkItemImage {
  background-image: url('https://uc477242d87d19ac95e17cd1a800.previews.dropboxusercontent.com/p/thumb/AAypCznyG13V_skbcN337UNKZyL2aeYRLi3kkX1U1IbtybKTC5jqzgTTwMPhPmCTQ_a5LbddfRHZz7TfkhzQHMpkRVqxFzYGQLWVY5m3b8xlmz6aox0AyDjUce6Io6B-9wNgDEbZh4XWOWG-IlrdM_rDIwnSqvyofsyVN1t82hkYgEFOSnBIMgWJUsv5IYnXZ4kAi9hZyWVOu91_VMBpDHH4g49eSEeOrQt6fJL3-AOy9nIDse4yFMzctcSrSeTxVkIHq9dKPI2QFYw4P_q3vFAmlYAd2nMpSeGaFHK4zCH8x8DWXqd1mOIOJwITlLSSGU-T8UvaHlzTMECFsVfE7YqPeOYW5uvpL8IPARssC5vHCS3UvQR_bT0l4VSzlP1XMFAUGZIfzZ6fbhCNznZC7DNU/p.png');
  background-size:cover;
  background-color:#97a1d8;
}

.work a:nth-of-type(4) .WorkItemImage {
  background-image: url('https://uc477242d87d19ac95e17cd1a800.previews.dropboxusercontent.com/p/thumb/AAypCznyG13V_skbcN337UNKZyL2aeYRLi3kkX1U1IbtybKTC5jqzgTTwMPhPmCTQ_a5LbddfRHZz7TfkhzQHMpkRVqxFzYGQLWVY5m3b8xlmz6aox0AyDjUce6Io6B-9wNgDEbZh4XWOWG-IlrdM_rDIwnSqvyofsyVN1t82hkYgEFOSnBIMgWJUsv5IYnXZ4kAi9hZyWVOu91_VMBpDHH4g49eSEeOrQt6fJL3-AOy9nIDse4yFMzctcSrSeTxVkIHq9dKPI2QFYw4P_q3vFAmlYAd2nMpSeGaFHK4zCH8x8DWXqd1mOIOJwITlLSSGU-T8UvaHlzTMECFsVfE7YqPeOYW5uvpL8IPARssC5vHCS3UvQR_bT0l4VSzlP1XMFAUGZIfzZ6fbhCNznZC7DNU/p.png');
  background-size:cover;
  background-color:#97a1d8;
}

.work a:nth-of-type(5) .WorkItemImage {
  background-image: url('https://uc5109b5638894ad27edbcad1357.previews.dropboxusercontent.com/p/thumb/AAx5XzDKOAhuXvBQfn_dJq7Fml6dZyzTxrkt9yn8hwyOn-si7fIYiMpnk1rQt700lLxg1Rq3rl364NRkM2McixrST44tHOPP9mloBUvqod7hOtDvXlM5WCal7x1aIEgfk-SddnylExQnGAm_95_52rG7q0e8oybYQQim6HBLYOHpLxH_G4fNZQwYaQIn6BKjgqnQTSx5CvplMb6uBL-wnUAz7h5YRC5O28dd_MjdkR8VaNFVlhNFr9_i5-goeqgBHRvk19pXQksbsVTVwb5-ZfDm9bEhrRfQ3XIy7KiNt7GjfIizU1Eu_ex7kwwxtOYrBIjmQwjFuGr7vQuqL78ckT3SlrRg8Y5LSqHlDwfxAsInwRqf5iE8UaIKhJFKuYQnPXSWO7FGedSSLfjbCoCVzHZp/p.png');
  background-size: cover;
  background-color: #02BFFD;
}

.work a:last-of-type .WorkItemImage {
  background-image:url('https://uc5c072cf09c75ff6977bc296954.previews.dropboxusercontent.com/p/thumb/AAwgUEXzrSQQHW1ZENVWVg9NEO7PHXMlzfFYsPeHc4KVxXGVZk5K02FJFHRevJ8ilhs8ioC6Qi_kxGPgorWDaDJU9_qo1k-Wj2njJZaXq3ZyiYeeRk2Mf7nACoxvNbJVd12Jg3EmUvCEPoRTIfjYNISEreGHww2-j7aLZ85N6V11F3C-s9VfDV-3uLkrSqJebcKiZxrl1ZY8hBxE3PkWaHUH-h4TILTwEP3qtg9wDSxGhs2SB2VXrgwahn4P25iglKg92Ll_lZUNClOSw-75vQ_dMpwVvWVCM4ztTrU_CiYvytjfml-lu4vQG1x8UrZjw5HGABx6IxJSTic4Y7DDNcnmqDomuX0Hr89-9jl_jQzn7mS1rQaFY6ZnblP3i_GHvW8kfxTRfQh9C-G5sx5nN-dC/p.png');
  background-size: cover;
  background-color: #f7941d;
}

.WorkItemDescription {
  padding:1.5rem;
  display:grid;
  grid-gap: 0.25rem;
  grid-template-rows: minmax(min-content, max-content);
}


.WorkItemDescription small {
  align-self:end;
  color:var(--color-text_2);
}

.WorkItemDescription h3 {
  font-weight: 500;
  font-size:1.25rem;
  color: white;
}

.WorkItemDescription p {
  color:var(--color-text_2);
  font-weight: 400;
  margin:0;
}

.WorkItemLabel {
  font-size:1rem;
  line-height: 1.5rem;
  font-weight: 500;
  background:white;
  color:var(--color-text_1);
  padding:0.5rem 1rem;
  border-radius:3px;
  position:absolute;
  top:3rem;
  right:3rem;
  opacity: 0;
  z-index: 1;
  transition:all ease-in-out 200ms;
  transform:translateY(0.5rem);
}

.work a:hover .WorkItemLabel, .work a:focus .WorkItemLabel {
  opacity: 1;
  transform:translateY(0rem);
}

.work a:hover .WorkItemDescription p, .work a:focus .WorkItemDescription p,
.work a:hover .WorkItemDescription small, .work a:focus .WorkItemDescription small {
  color:var(--color-text_2);
}

.work a:hover .WorkItemLogo, .work a:focus .WorkItemLogo {

}

.WorkItemLogo {

  height: 4rem;
  width: 4.5rem;
  margin:1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 200ms;
}



.work a:hover .WorkItemLogo:after, .work a:focus .WorkItemLogo:after {
  opacity:0;
}

@media screen and (max-width: 575px) {
  .work {
    grid-template-columns: auto;
    grid-gap: 3rem;
  }
  .WorkItemLabel {
    opacity: 1;
    bottom:0rem;
    top:auto;
    left:0;
    right:0;
    text-align: center;
    transform:translateY(0);
  }

  .work a {
    grid-template-columns: 1fr;
    background:var(--color-black_1);
    padding:2rem;
  }

  .WorkItemLogo {
    transform:translateX(-0.65rem);
    margin:0;
  }

  .WorkItemLogo:after {
    opacity:0;
  }

  .WorkItemImage:after {
    opacity:0;
  }
  .WorkItemDescription {
    padding-left:0;
    padding-right:0;
    padding-bottom:3rem;
  }



  .work a:focus {
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    transform:translateY(0);
  }
  .work a:hover {
    box-shadow: 0 0 0 0 rgba(0,0,0,0);
    transform:translateY(0);
  }
}
